/* Existing styles */

body {
    overflow: hidden;
}

.main-screen {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    background-image: url("../img/background.png");
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    background-image: url("../img/background.png");
}

.overlay-content {
    position: absolute;
    background-position: 0 0;
    padding: 10px;
}

.circle {
    cursor: pointer;
}

.overlay-content rect {
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale();
    }
}


/* Additional styles for the second circle */

.circle {
    cursor: pointer;
    animation: pulse 2s infinite;
    transform-origin: center;
}

.square {
    cursor: pointer;
    animation: pulse 2s infinite;
}

.triangle {
    cursor: pointer;
    animation: pulse 2s infinite;
}

.circles-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.circle {
    margin: 5px;
    background-color: blue;
    border-radius: 50%;
}

.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#overlay3 {
    overflow-y: auto;
}